* {
    padding:20px;
}

.i{
    display: inline;
    background: #00ff00;
}

.i2{
    display: inline;
    background: #0000ff;
}

.b{
    background: #ffff00;
    display: block;
}

.y{
    background: #ff00ff;
}


